Package: cnb-rates
Version: 0.1.1+fx-other-starts-at-may-2004
Architecture: amd64
Maintainer: Jan Cajthaml <jan.cajthaml@gmail.com>
Depends: init-system-helpers (>= 1.18~), openssl (>= 1.1~)
Section: openbank
Priority: extra
Vcs-Git: git@github.com:jancajthaml-openbank/cnb-rates.git
Description: Openbank CNB Exchange Rates Mirror
