Package: cnb-rates
Version: 1.0.3+cleanup-code
Section: misc
Priority: extra
Architecture: amd64
Vcs-Git: https://github.com/jancajthaml-openbank/cnb-rates.git
Maintainer: Jan Cajthaml <jan.cajthaml@gmail.com>
Depends: openssl (>= 1.1~), libc6
Description: cnb rates offline mirror
 Service providing access and api for Czech National Bank exchange rates
