[Unit]
Description=openbank CNB Rates configuration watcher
StartLimitBurst=5

[Service]
Type=simple
ExecStartPre=echo 'restarting cnb-rates (configuration has changed)'
ExecStart=/bin/sh -c 'systemctl restart cnb-rates.service'

[Install]
WantedBy=cnb-rates.service