[Unit]
Description=openbank CNB Rates REST service
PartOf=cnb-rates.service
After=cnb-rates.service
Requires=cnb-rates.service

[Service]
Type=notify
EnvironmentFile=/etc/cnb-rates/conf.d/init.conf
StartLimitBurst=0
ExecStart=/usr/bin/cnb-rates-rest
StandardInput=null
LimitNOFILE=1048576
LimitNPROC=infinity
LimitCORE=infinity
Restart=always
RestartSec=0
TimeoutStartSec=0
TimeoutSec=infinity
SuccessExitStatus=2
KillMode=process
KillSignal=SIGTERM

[Install]
WantedBy=cnb-rates.service 
