[Unit]
Description=openbank CNB Rates control group
After=inetd.service
ConditionPathExists=/etc/cnb-rates/conf.d/init.conf

[Service]
Type=oneshot
ExecStart=/bin/true
RemainAfterExit=yes
StartLimitBurst=0
StartLimitInterval=0

[Install]
WantedBy=multi-user.target