[Unit]
Description=openbank CNB Rates Import service
PartOf=cnb-rates.service
After=cnb-rates.service
ConditionPathExists=/etc/init/cnb-rates.conf

[Timer]
OnCalendar=*-*-* 13:32:00
Persistent=true
Unit=cnb-rates-import.service

[Install]
WantedBy=cnb-rates.service
