[Unit]
Description=openbank CNB Rates services namespace
After=inetd.service
ConditionPathExists=/etc/init/cnb-rates.conf

[Service]
Type=oneshot
ExecStart=/bin/echo start cnb-rates namespace
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
